*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   background-color: rgb(193, 76, 76) ;
}

.counter{
   color: #fff;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.counter h1{
   color: rgb(255, 217, 251);
}

.buttons{
   display: flex;
   flex-direction: row;
   column-gap: 5px;
}

.btnn{
   margin-top: 20px;
   background-color: rgb(166, 116, 161);
   border: 0;
   outline: 0;
   padding: 25px;
   border-radius: 15px;
   cursor: pointer;
}